.navbar {
  background: linear-gradient(90deg, rgb(43, 184, 151), rgb(94, 181, 12));
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo img {
  height: 70px; /* Taille réduite du logo */
  width: auto;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.btn-inscription {
  background: #88ff4d;
  color: #333 !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .nav-links {
    gap: 1rem;
  }
  
  .logo img {
    height: 25px; /* Logo encore plus petit sur mobile */
  }
}


